.multi-search {
  &__item {
    border: 1px solid #2C3095;
    padding: 0.5rem;
    list-style: none;
    width: 48%;
    margin-bottom: 1.5rem;
  }
  &__meta {
    font-size: 0.85rem;
    color: black;
    span {
      margin-right: 0.5rem;
    }
  }
  &__title {
    color: #2C3095;
    margin: 0.5rem 0;
  }
  &__authors {
    padding: 0;
    margin-left: 0;
    display: flex;
    li {
      list-style: none;
      font-size: 1rem;
      &:not(:last-child) {
        padding-right: 0.2rem;
      }
    }
  }
}